*{
box-sizing: border-box;
}

body{
    width:850px;
    margin:auto;
    text-align:center;

}

#search{
    margin-top:15px;
    margin-bottom:15px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

img{
    height:175px;
    width:175px;
}


