*{
    box-sizing: border-box;
    }
    
    body{
        text-align:center;
    }
    
    #search{
        margin: 15px;
    }
    
    .img{
        margin: 15px;
    }
    
    .container{
        width:75%;
        margin:auto;
    }
    
    @media (min-width:1024px){
    
        .container{
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width:75%;
        }
    
        img{
            height: 150px;
            width: 150px;
        }
    }

    @media (max-width:1440px) {
        
        img{
            height:200px;
            width:200px;
        }
    }