*{
    box-sizing: border-box;
    }
    
    body{
        text-align:center;
    }
    
    #search{
        margin: 15px 0px 25px 0px;
    }
    
   /** .container{
        margin:auto;
        max-width:900px;
    }

    .row{
        display:flex;
        justify-content: space-evenly;
        margin-bottom: 15px;
    }
    **/
    img{
        height:150px;
        width:150px;
        margin-bottom:15px;
    }

    .sorting-list {
        width:0px;
    }

    @media (min-width:768px) {
        .container{
            max-width:700px;
            margin:auto;
        }

        .row{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-evenly;
            margin-bottom: 15px;
        }

        .row .img {
            flex-basis:25%;
        }
    }

    @media (min-width:1024px) {
        .container{
            margin:auto;
    }